secret_key_base: <rails secret>

# Used to encrypt the `document` attribute
# AND to obscure the `token` identifier to the outside world
hmac_key: <SecureRandom.base58(32)>
message_key: <SecureRandom.base58(32)>
api_key_aud: <SecureRandom.base58(32)>
# audience: <rails secret> or <consuming application> e.g. 'HVKeyGuard'

# DB connection
database:
  db: <app>_<environment>
  username: <app>
  password: <MySQL password>
